<div class="row">
    <div class="center-container">
        <img ng-src="../images/ajax-loader-2.gif" ng-if="vm.loading">
    </div>
    <div ng-if="!vm.loading" class="col-xs-2" ng-repeat="photo in vm.photoList">
        <img ng-src="{{photo}}" class="img-thumbnail" width="100%" height="100%">
    </div>
</div>
<div ng-if="!vm.loading" class="row top-buffer">
    <div class="center-container">
        <form class="form-inline" ng-submit="vm.submitAnswer()">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" ng-model="vm.countryName" class="form-control" placeholder="Enter Country Name">
                </div>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>
<div class="row">
    <div class="center-container">
        <h3 ng-if="!vm.loading"> Points: {{vm.points}} </h3>
    </div>
</div>
